<!-- BEGIN CONTENT_BLOCK -->
<iframe id="sy-content-iframe" src="{IFRAME_URL}" width="100%" style="height:100vh; position: absolute; top: 0; z-index: 1050;"></iframe>
<!-- ELSE CONTENT_BLOCK -->
<div id="sy-content">
	{HTML}
</div>
<!-- END CONTENT_BLOCK -->

<div id="sy-page-toolbar">
	<!-- BEGIN BACK_BTN_BLOCK -->
	<div>
		<a type="button" href="{BACK_URL}" class="btn btn-primary btn-circle mb-1" title="{'Back to current version'}" data-bs-title="{'Back to current version'}" data-bs-placement="right" data-bs-container="body" data-bs-trigger="hover">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
			</svg>
		</a>
	</div>
	<!-- END BACK_BTN_BLOCK -->
	<!-- BEGIN RESTORE_BTN_BLOCK -->
	<div>
		<a type="button" href="{RESTORE_URL}" class="btn btn-primary btn-circle mb-1" title="{'Restore this version'}" data-bs-title="{'Restore this version'}" data-bs-placement="right" data-bs-container="body" data-bs-trigger="hover" data-confirm="{'Restore this version?'}" onclick="return confirm(this.dataset.confirm)">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap-reboot" viewBox="0 0 16 16">
				<path d="M1.161 8a6.84 6.84 0 1 0 6.842-6.84.58.58 0 1 1 0-1.16 8 8 0 1 1-6.556 3.412l-.663-.577a.58.58 0 0 1 .227-.997l2.52-.69a.58.58 0 0 1 .728.633l-.332 2.592a.58.58 0 0 1-.956.364l-.643-.56A6.812 6.812 0 0 0 1.16 8z"/>
				<path d="M6.641 11.671V8.843h1.57l1.498 2.828h1.314L9.377 8.665c.897-.3 1.427-1.106 1.427-2.1 0-1.37-.943-2.246-2.456-2.246H5.5v7.352h1.141zm0-3.75V5.277h1.57c.881 0 1.416.499 1.416 1.32 0 .84-.504 1.324-1.386 1.324h-1.6z"/>
			</svg>
		</a>
	</div>
	<!-- END RESTORE_BTN_BLOCK -->
	<!-- BEGIN CREATE_BTN_BLOCK -->
	<div data-bs-toggle="modal" data-bs-target="#sy-new-page-modal">
		<button class="btn btn-primary btn-circle mb-1" title="{'New page'}" data-bs-title="{'New page'}" data-bs-placement="right" data-bs-container="body" data-bs-trigger="hover">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
				<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
			</svg>
		</button>
	</div>
	<!-- END CREATE_BTN_BLOCK -->
	<!-- BEGIN DUPLICATE_BTN_BLOCK -->
	<div data-bs-toggle="modal" data-bs-target="#sy-duplicate-page-modal">
		<button class="btn btn-primary btn-circle mb-1" title="{'Duplicate page'}" data-bs-title="{'Duplicate page'}" data-bs-placement="right" data-bs-container="body" data-bs-trigger="hover">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-back" viewBox="0 0 16 16">
				<path d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2z"/>
			</svg>
		</button>
	</div>
	<!-- END DUPLICATE_BTN_BLOCK -->
	<!-- BEGIN UPDATE_INLINE_BTN_BLOCK -->
	<div>
		<button class="btn btn-primary btn-circle mb-1" id="sy-btn-page-update-start" title="{'Start editing'}" data-bs-title="{'Start editing'}" data-bs-placement="right" data-bs-container="body" data-bs-trigger="hover">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
				<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
			</svg>
		</button>
	</div>
	<div>
		<button class="btn btn-primary btn-circle mb-1 d-none" id="sy-btn-page-update-stop" title="{'Finish editing'}" data-bs-title="{'Finish editing'}" data-bs-placement="right" data-bs-container="body" data-bs-trigger="hover">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
				<path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
			</svg>
		</button>
	</div>
	<!-- END UPDATE_INLINE_BTN_BLOCK -->
	<!-- BEGIN UPDATE_BTN_BLOCK -->
	<div data-bs-toggle="modal" data-bs-target="#sy-update-page-modal">
		<button class="btn btn-primary btn-circle mb-1" title="{'Page settings'}" data-bs-title="{'Page settings'}" data-bs-placement="right" data-bs-container="body" data-bs-trigger="hover">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
				<path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
			</svg>
		</button>
	</div>
	<!-- END UPDATE_BTN_BLOCK -->
	<!-- BEGIN CODE_BTN_BLOCK -->
	<div data-bs-toggle="modal" data-bs-target="#sy-code-modal" data-bs-backdrop="static">
		<button class="btn btn-primary btn-circle mb-1" title="{'Source code'}" data-bs-title="{'Source code'}" data-bs-placement="right" data-bs-container="body" data-bs-trigger="hover">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-code-slash" viewBox="0 0 16 16">
				<path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"/>
			</svg>
		</button>
	</div>
	<!-- END CODE_BTN_BLOCK -->
	<!-- BEGIN DELETE_BTN_BLOCK -->
	<div>
		<button class="btn btn-primary btn-circle mb-1" id="sy-btn-page-delete" title="{'Delete page'}" data-bs-title="{'Delete page'}" data-bs-placement="right" data-bs-container="body" data-bs-trigger="hover">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
				<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
			</svg>
		</button>
		<div hidden>{DELETE_PAGE_FORM}</div>
	</div>
	<!-- END DELETE_BTN_BLOCK -->
	<!-- BEGIN HISTORY_BTN_BLOCK -->
	<div data-bs-toggle="modal" data-bs-target="#sy-history-modal">
		<button class="btn btn-primary btn-circle mb-1" title="{'Version history'}" data-bs-title="{'Version history'}" data-bs-placement="right" data-bs-container="body" data-bs-trigger="hover">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
				<path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
				<path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
				<path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
			</svg>
		</button>
	</div>
	<!-- END HISTORY_BTN_BLOCK -->
</div>

<!-- BEGIN HISTORY_MODAL_BLOCK -->
<div class="modal fade" id="sy-history-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{"Version history"}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body p-0">
				<div class="list-group list-group-flush">
					{HISTORY_LIST}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END HISTORY_MODAL_BLOCK -->

<!-- BEGIN CREATE_MODAL_BLOCK -->
<div class="modal fade" id="sy-new-page-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{"New page"}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				{NEW_PAGE_FORM}
			</div>
		</div>
	</div>
</div>
<!-- END CREATE_MODAL_BLOCK -->
<!-- BEGIN DUPLICATE_MODAL_BLOCK -->
<div class="modal fade" id="sy-duplicate-page-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{"Duplicate page"}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				{DUPLICATE_PAGE_FORM}
			</div>
		</div>
	</div>
</div>
<!-- END DUPLICATE_MODAL_BLOCK -->

<!-- BEGIN UPDATE_MODAL_BLOCK -->
<div class="modal fade" id="sy-update-page-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{"Page settings"}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				{UPDATE_PAGE_FORM}
			</div>
		</div>
	</div>
</div>
<!-- END UPDATE_MODAL_BLOCK -->

<!-- BEGIN CODE_MODAL_BLOCK -->
<div class="modal fade" id="sy-code-modal">
	<div class="modal-dialog modal-fullscreen">
		<div class="modal-content">
			<div class="modal-header py-2">
				<ul class="nav nav-pills" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link active" id="sy-html-tab" data-bs-toggle="tab" data-bs-target="#sy-html-tab-content" type="button" role="tab" aria-controls="html" aria-selected="true">
							HTML
						</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="sy-css-tab" data-bs-toggle="tab" data-bs-target="#sy-css-tab-content" type="button" role="tab" aria-controls="css" aria-selected="false">
							SCSS
						</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="sy-js-tab" data-bs-toggle="tab" data-bs-target="#sy-js-tab-content" type="button" role="tab" aria-controls="js" aria-selected="false">
							JS
						</button>
					</li>
				</ul>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body overflow-hidden p-0">
				{CODE_FORM}
			</div>
			<div class="modal-footer">
				<button form="{CODE_FORM_ID}" type="submit" class="btn btn-primary"><span class="fas fa-save"></span> {"Save"}</button>
			</div>
		</div>
	</div>
</div>
<!-- END CODE_MODAL_BLOCK -->