#sy-content-iframe {
	height:100vh;
	width:100vw;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1050;
	background-color: #ddd;
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-20 -20 40 40"><style> circle { animation: 4s a infinite linear, 3s o infinite linear; }@keyframes a {from{stroke-dasharray:100 0}50%25{stroke-dasharray:0 100}to{stroke-dasharray:100 0}}@keyframes o {from{stroke-dashoffset:75}to{stroke-dashoffset:375}}<%2Fstyle><circle r="15.9154943092" stroke-width="7" fill="none" stroke="snow" /></svg>');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 42vmin;
}

.resizer {
	display: none;
	position: absolute;
	top: 0;
	left: 50%;
	background-color: #ccc;
	cursor: ew-resize;
	height: 100%;
	width: 5px;
	z-index: 1060;
}

#resizer-backdrop {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1059;
}

#loader-backdrop {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1061;
}

/* Hide debug bar */
#sy_debug_bar {display:none;}

/* Toolbar z-index */
#sy-page-toolbar {z-index:1050;}

#sy-connected-users-btn {
	white-space: nowrap;
}

.popover-body ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#sy-code-modal .tab-content {
	padding: 0 !important;
	margin: 0 !important;
	border: 0 !important;
}